<div id="S80Page" class='card' style="text-align:center" class="container">
    <div class="card-header">
    </div>
        <p>&nbsp;</p>
        <h1>VOLVO S80 D4 2.0 163 KM Jasne Skóry Automat Wirtualny Kokpit</h1>
        <p>&nbsp;</p>
</div>

<p>&nbsp;</p>
<div class="table-responsive">
    <table class='table' >
        <thead >
            <tr>
                <th style="text-align:left"></th>
            </tr>
        </thead>
        <tbody>
            <tr >
                <td style="text-align:center">       
                    <img src="../../../../../assets/images/Volvo80.1.png" width="420" height="300">
                </td>
                <td style="text-align:left">       
                    <h3>
                        {{s80.name}}
                    </h3>
                    <h3>
                        {{s80.model}}
                    </h3>
                    <h3>
                        {{s80.year}}
                    </h3>
                    <h3>
                        {{s80.price}}
                    </h3>
                    <h3>
                        {{s80.engine}}
                    </h3>
                    <h3>
                        {{s80.tel}}
                    </h3>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<p>&nbsp;</p>
<h1 style="text-align:center">More Photos</h1>
<p>&nbsp;</p>
<div style="text-align:center" >
    <img src="../../../../../assets/images/Volvo80.2.png" width="700" height="500">
</div>
<p>&nbsp;</p>
<div style="text-align:center" >
    <img src="../../../../../assets/images/Volvo80.3.jpg" width="700" height="500">
</div>
<p>&nbsp;</p>
<div style="text-align:center" >
    <img src="../../../../../assets/images/Volvo80.4.png" width="700" height="500">
</div>
<p>&nbsp;</p>
<div style="text-align:center" >
    <img src="../../../../../assets/images/Volvo80.5.png" width="700" height="500">
</div>
<p>&nbsp;</p>
<div style="text-align:center" >
    <img src="../../../../../assets/images/Volvo80.1.png" width="700" height="500">
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
