<div id="homePage" style="text-align:center" class="container">
    <h1>
        Welcome on Alledrogo
    </h1>
    <p>&nbsp;</p>

    <img src="../../assets/images/logoBlack.png" width="250" height="220" id="logo" routerLink="/Login" routerLinkActive="active" class="waves-effect waves-light btn">

    <div style="text-align:center" >       
        <h2 style="text-align:center">
            Most views in this week:
        </h2>
    </div>

    <div class="table-responsive">
        <table class='table'>
            <thead >
                <tr>
                    <th style="text-align:center"></th>
                    <th style="text-align:center"></th>
                    <th style="text-align:center"></th>
                    <th style="text-align:center"></th> 
                </tr>
            </thead>
            <tbody>
                <tr>
                    
                    <td style="text-align:center">
                        <p>&nbsp;</p>
                        <img src="../../assets/images/AudiQ7.1.jpg" width="260" height="180" id="1" routerLink="/Q7" routerLinkActive="active" class="waves-effect waves-light btn">
                    </td>
                    <td style="text-align:center">
                        <p>&nbsp;</p>
                        <img src="../../assets/images/VolvoV90.1.jpg" width="260" height="180" id="2" routerLink="/V90" routerLinkActive="active" class="waves-effect waves-light btn">
                    </td>
                    <td style="text-align:center">
                        <p>&nbsp;</p>
                        <img src="../../assets/images/ninja1.1.jpg" width="260" height="180" id="3" routerLink="/Ninja" routerLinkActive="active" class="waves-effect waves-light btn">
                    </td>
                    <td style="text-align:center">
                        <p>&nbsp;</p>
                        <img src="../../assets/images/VolvoXC.1.png" width="260" height="180" id="4" routerLink="/XC90" routerLinkActive="active" class="waves-effect waves-light btn">
                    </td> 
                </tr>
            </tbody>
        </table>
    </div>
</div>